@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkpurple: #4B16CD;
  --lightpurple: #CE19FE;
  --colorwhite: #fff;
  --border: 0px;
  --outline: 0px;
  --colorblack: #000;
  --lighterpurple: #EADCF7;
}

/* navbar section */
nav {
  width: 100%;
  height: 109px;
  background: var(--colorwhite);
  box-shadow: 0px 0px 20px 4px rgba(63, 62, 62, 0.14);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 280px;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

#navbar ul li {
  font-weight: 500;
  font-size: 15px;
  color: var(--colorblack);
}

.navbar-btn button {
  width: 167px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(259deg, #4B16CD -0.24%, #CE19FE 116.98%);
  border: var(--border);
  outline: var(--outline);
  font-size: 24px;
  color: var(--colorwhite);
  font-weight: 600;
  cursor: pointer;
}

#mobile i {
  color: var(--colorblack);
}

#mobile {
  display: none;
}

/* hero section */

.background {
  background: linear-gradient(to right, #CE19FE, #4B16CD);
  height: 521px;
  width: 100%;
  margin-top: 130px !important;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 0px 0px;
  flex-shrink: 0;
}

.hero-text {
  color: var(--colorwhite);
}

.hero-text {
  padding-right: 90px;
}

.hero-text p {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.hero-text h1 {
  line-height: 149.828%;
  font-size: 38px;
}

.hero-img img {
  max-width: 100%;
  height: auto;
}



/* program/service section */
.program-container {
  width: 100%;
  height: 230vh;
  background-color: var(--lighterpurple);
  margin-top: 136px;
}

.program-border {
  display: flex;
  width: 306px;
  height: 40px;
  padding: 22px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(98deg, #541AE1 -1.54%, #CE19FE 118.84%);
  color: var(--colorwhite);
}

.program {
  display: grid;
  justify-content: center;
}

.bold-text {
  text-align: center;
  font-weight: bold;
}

.card {
  width: 404px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.50);

  background: var(--colorwhite);

  box-shadow: 0px 20px 40px 0px rgba(59, 64, 86, 0.15);
}

.card-write-up {
  font-size: 14px;
}

.card-text-heading {
  font-size: 20px;
}

.card-text-heading span {
  font-weight: bold;
}

.card-text {
  padding: 0px 30px;
}

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  flex-wrap: wrap;
}

.card2 {
  margin-top: 70px;
}

.card5 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 40px;
}


/* form section */
.form-container {
  width: 100%;
  height: 70vh;
  background-color: var(--lighterpurple);
  margin-top: 70px;
}

.form-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input input {
  width: 406px;
  height: 72px;
  border-radius: 10px;
  border: 1px solid #FFF;

  background: #FFF;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  flex: 1.0 10rem !important;
}
.input{
  display: flex;
  gap: 80px;
  flex-wrap: wrap !important;
}

.input-background {
  display: grid;
  justify-content: center;
  margin-top: 20px;

}

.input-content {
  display: grid;
  justify-content: center;
  width: 1206px;
  height: 457px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(75, 22, 205, 0.40);
  box-shadow: 0px 0px 8px 4px rgba(93, 92, 92, 0.12);
  gap: 13px;
}

.input-content, .form-text, .input{
  margin-top: 20px;
}

.form-text {
  width: 215px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--darkpurple);
  color: var(--colorwhite);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

@media(max-width:900px) {
  nav {
    z-index: 9999;
  }

  #navbar {
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 8px;
    flex-direction: column;
    position: fixed;
    top: 90px;
    width: 200px;
    right: -300px;
    height: 100vh;
    background-color: var(--darkpurple);
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }

  #navbar ul li {
    color: var(--colorwhite);
    position: absolute;
    left: 0;
    padding: 0px 20px;
  }

  #mobile {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #mobile i {
    font-size: 25px;
  }
}

@media (min-width: 600px) {
  .hero-text h1 {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .hero-text h1 {
    font-size: 38px;
  }
}