body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --darkpurple:#4B16CD;
  --lightpurple:#CE19FE;
  --colorwhite:#fff;
}
/* hero section */

.background{
  background: linear-gradient(to right, #CE19FE, #4B16CD);
  height:521px;
  width: 100%;
}
